.login-modal{
    width: 350px;
    height: 425px;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;


    &.pop-up {
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2000;
        overflow: hidden;
    }

    &.page-view{
        height: 350px;
        border: 1px solid rgb(219 219 219);
        @include for-mobile-layout{
            border: none;
        }
        justify-content: center;
        .close{
            display: none;
        }

        button{
            top: 0;
        }
    }

    img{
        width: 175px;
        height: 51px;
        object-fit: cover;
        margin: 36px 0 12px;
    }
    
    .close{
        align-self: flex-end;
        // display: flex;
        // align-items: flex-end;
        // justify-content: flex-end;
        svg{
            width: 34px;
            height: 34px;
            padding: 8px 8px;
            margin: 12px 12px 12px 0;
        }
    }


    form{
        margin: 25px 0 0 0;
        // height: 100vh;
    }

    button{
        top: 50px;
        position: relative;
        width: 270px;
        height: 36px;
        font-weight: 600;
        background-color:  rgb(0, 149, 246);
        border: none;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 600;
        margin: 0 0 12px;
        cursor: pointer;
    }




    .logout{
        background-color: transparent;
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 149, 246);
        margin: 0 0 12px;
    }
    label{
        display: flex;
        flex-direction: column;
        margin: 0 0 4px;
        height: auto;
        width: 270px;
        padding: 0;
        position: relative;

        input{
            font-size: 12px;
            background-color: rgb(245 245 245);
            padding: 24px 0 2px 8px;
            font-weight: 600;
            border: none;
            border-radius: 2px;
            width: 100%;
            height: 40px;
            
            &::placeholder{
                font-size: 12px;
                font-weight: 600;
                color: black;
            }
        }

        span{
            font-size: 12px;
            font-weight: lighter;
            position: absolute;
            left: 8px;
            color: $gray2;
        }

        &.no-txt span{
            display: none;
            color: transparent;
        }
    
        &.no-txt input{

            padding: 0 0 0 8px;
            &::placeholder{
                font-size: 12px;
                font-weight: 600;
                color: black;
                
            }
        }
    }




}