// @import 'mixins';
.nav-bar-container{
    border-right: 1px solid rgb(219, 219, 219);
    position: fixed;
    display: flex;
    justify-content: center;
    width: 220px;
    top: 0;
    left: 0;
    width: $nav-medium-width;
    margin: 0;
    font-weight: 400;

    &.small{
        width: auto;
        justify-content: normal;
        .nav-bar-buttom-name{
            display: none;
        }
        .insta-logo {
            display: none;
        }

        .nav-bar{
            padding-inline: 12px;
        }
    }

    @include for-wide-layout{
        width: 72px;
    }

    @include for-mobile-layout{
        flex-direction: row;
        top: calc(100% - 72px);
        z-index: 500;
        background-color: white;
        width: 100%;
        justify-content: center;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        padding-inline: 12px;
        list-style: none;
        .bold {
            font-weight: 600;
            .nav-bar-buttom-name {
                font-weight: 600; // Change font weight for child elements
            }
        }
    
        .nav-bar-buttom-link {
            height: 52px;
            background-color: transparent;
            margin: 0;
            padding: 0;
        }
    
        .nav-bar-buttom-content {
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                .nav-bar-icon {
                    transform: scale(1.1);
                }
            }
    
            height: 48px;
            margin: 2px 0;
            padding: 12px;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
    
            .nav-bar-buttom-name {
                color: rgb(0, 0, 0);
                color-scheme: light;
                font-size: 16px;
                line-height: 24px;
                padding-inline-start: 16px;
                width: max-content;
                text-align: left;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
                @include for-wide-layout{
                    display: none;
                }
            }
    
            .nav-bar-icon {
                width: 24px;
                height: 24px;
                align-self: center;
                color: rgb(2 2 2);
            }
        }
    
        .avatar {
            width: 24px;
            height: 24px;
        }
    
        .insta-logo {
            // line-height: 37px;
            height: 73px;
            margin: 0px 0px 19px;
            padding: 30px 12px 16px;
    
            @include for-wide-layout{
                display: none;
            }
    
            img {
                height: 37px;
                width: 103px;
                object-fit: cover;
            }
        }
    }
}


