.notification-pop-up{
    position: relative;
    width: 396px;
    height: 100vh;
    box-shadow: 8px 0 12px -6px rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgb(219, 219, 219);
    border-left: 1px solid rgb(219, 219, 219);
    background-color: white;
    z-index: 1000;
    transition: transform 0.1s ease-in-out;
    transform: translateX(-100%);
    overflow-y: auto;

    @include for-mobile-layout{
        position: fixed;
        top: 0;
        left:0;
        height: calc(100vh - 72px); 
        width: 100%; // Adjust width as needed
    }

    &.show {
        transform: translateX(0%);
    }

    &.hide {
        transform: translateX(-100%);
    }

    h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        padding: 16px 24px 14px;
        height: 61px;
        color: black;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        // padding-inline: 24px;
    }
}