.post-view{
    .preview-and-comments{
        display: grid;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        // background-color:  white;
        
        .post-container:has(.deteiled) {
            background-color:  rgba(0, 0, 0, 0.5);
            width: 100vw;
            height: 100vh;
         }



        .post-container{
            justify-self: center;
            width: 100%;
            height: 100%;

            .deteiled{
                position: fixed;
                // position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                max-height: calc(100vh - 40px);
                max-width: calc(100% - 64px - 64px);
                margin: 40px 64px;
                width: 100%;
                margin: auto;

                  
                // box-shadow:
                // 0 0 0 100vmax rgba(0, 0, 0, 0.5),
                // -3px 1px 28px #00000043;
                display: grid;
                justify-content: center;
                grid-template-areas: 
                "pic author"
                "pic comments"
                "pic actions"
                "pic likes"
                "pic add-comment";
    
                grid-template-columns: auto 500px;
                grid-template-rows: 69px 1fr 55px 18px 52px;
    
                .actions{
                    background-color: white;
                    grid-area: actions;
                    border-top: 0.6px solid rgb(239, 239, 239);
                    padding: 16px 8px 16px 6px;
                    margin: 0px;
                    
                }
    
                .likes{
                    background-color: white;
                    grid-area: likes;
                    padding: 0px 20px 4px 16px;
                }
    
                .comment-section{
                    background-color: white;
                    border-top: 0.6px solid $gray2;
                    grid-area: add-comment;
                    margin: 0px;
                    padding: 6px 16px 8px 16px;
                }
    
                .body-and-comments{
                    background-color: white;
                    grid-area: comments;
                    .comments-list{
                        padding: 0;
                        margin: 0;                      
                        list-style: none;
                            .comment {
                                display: flex;
                                padding: 4px 14px 16px 14px;

                                .avatar{
                                    margin-inline-end: 18px;
                                }

                                span{
                                    font-weight: 600;
                                    margin-inline-end: 4px;
                                }
                            }
                    }
                }
    
                .p-img{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                    width: 100%;
                    height: 100%;
                    max-width: 504px;
                    max-height: 897px;
                    grid-area: pic;
                }

                .header{
                    background-color: white;
                    grid-area: author;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .min-user-card{
                        padding: 4px 14px 16px 14px;
                    }
                    
                }
    

            }
            .post-preview{
                padding-block-end: 16px;
                margin-block-end: 20px;
                border-bottom: 0.6px solid rgb(219, 219, 219);
            }
    
        }


        // justify-items: flex-start;
        .actions{

            *:hover{
                cursor: pointer;
            }
            margin: 4px 0;
            display: flex;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 1rem;

            .save-icon{
                margin-inline-start: auto;
            }
        }

        .likes{
            font-size: 14px;
            color: black;
            font-weight: 600;
        }

        img {
            width: 468px;
            height: 585px;
        }

    }

    .comment-section{
        margin-block-start: 8px;
        display: flex;

        position: relative;
        // display: inline-block;
        *{
            width: 100%;
        }

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 8px;
            padding: 0;
            font-weight: 600;
            color: rgb(0, 149, 246);
            width: auto;
            background-color: transparent;
            font-size: 14px;
            cursor: pointer;
        }

        .textarea-wrapper {
        position: relative;
        display: inline-block;
        }

        .emoji-picker {
            position: absolute;
            bottom: 100%;
            left: 0;
            transform: translateY(-10%) translateX(110%);
            z-index: 10;
        }

        .text-area {
            border: 1px solid rgb(203 213 225);
            border-radius: 0.25rem;
            height: 18px;
            // word-spacing: -3px;
            // line-height: 18px;
            // width: 16rem;
            // display: flex;
            border: none; /* Remove border */
            width: 100%;
            resize: none; /* Prevent resizing */
            outline: none; /* Remove outline on focus */
            font-size: 16px; /* Match font size */
            line-height: 18px;
            padding: 0;
            overflow: hidden; /* Hide scrollbar */           
        }      
    }
}
