.profile-conteiner .post-view {
    position: fixed;
    top: 0;
    right: 0;
}

.post-view {
    .preview-and-comments {
        display: grid;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .post-container:has(.deteiled) {
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 500;
            justify-self: flex-end;
        }

        .post-container {
            justify-self: center;
            width: 100%;
            height: 100%;

            .close-dteiled-post {
                position: absolute;
                top: 0;
                right: 0;
                background-color: transparent;
                font-size: 20px;
                color: white;
                margin: 15px 15px 0 0;
            }

            .deteiled {
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
                height: 100%;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                max-height: calc(100vh - 40px);
                max-width: calc(100% - 64px - 64px);
                // width: 100%;
                margin: 40px 64px;
                margin: auto;
                display: grid;
                justify-content: center;
                grid-template-areas:
                    'pic author'
                    'pic comments'
                    'pic actions'
                    'pic likes'
                    'pic add-comment';

                grid-template-columns: 1fr 500px;
                grid-template-rows: 69px 1fr 55px 22px 54px;

                @include for-normal-layout{
                    grid-template-columns: 1fr 405px;
                    width: 100%;
                }
                .actions {
                    background-color: white;
                    grid-area: actions;
                    border-top: 0.6px solid rgb(239, 239, 239);
                    padding: 16px 8px 16px 6px;
                    margin: 0px;
                }

                .likes {
                    background-color: white;
                    grid-area: likes;
                    padding: 0px 20px 4px 16px;
                    margin-block-end: 5px;
                }

                .comment-section {
                    background-color: white;
                    border-top: 0.6px solid #aaaaaa63;
                    grid-area: add-comment;
                    margin: 0px;
                    padding: 6px 16px 8px 16px;
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                .emoji-picker {
                    position: fixed;
                    bottom: 100%;
                    top: 0;
                    left: 0;
                    transform: translateY(-10%) translateX(10%);
                    z-index: 600;
                }

                .body-and-comments {
                    // width: inherit;
                    background-color: white;
                    grid-area: comments;
                    overflow-y: auto;
                    .body{
                        display: flex;
                        padding: 4px 14px 16px 14px;
                        span{
                            margin-inline-end: 4px;
                        }

                        .avatar {
                            margin-inline-end: 18px;
                        }
                    }
                    .comments-list {
                        padding: 0;
                        margin-top: 20px;
                        list-style: none;
                        .comment {
                            display: flex;
                            padding: 4px 14px 16px 14px;

                            .avatar {
                                margin-inline-end: 18px;
                            }
                        }
                    }
                }

                .p-img {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        background-color: black;
                        // min-width: 500px;
                    }
                    width: 100%;
                    height: 100%;
                    min-width: 500px;
                    grid-area: pic;
                    @include for-normal-layout{
                        max-width: 337px;
                        min-width: 0px;
                    }
                }

                .header {
                    background-color: white;
                    grid-area: author;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .min-user-card {
                        padding: 4px 14px 16px 14px;
                        h2 {
                            display: none;
                        }
                    }

                    .dots {
                        padding: 8px 16px 8px 8px;
                    }
                }
            }
            .post-preview {
                padding-block-end: 16px;
                margin-block-end: 20px;
                border-bottom: 0.6px solid rgb(219, 219, 219);
            }
        }

        // justify-items: flex-start;
        .actions {
            *:hover {
                cursor: pointer;
            }
            margin: 4px 0;
            display: flex;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 1rem;

            .save-icon {
                margin-inline-start: auto;
            }
        }

        .likes {
            font-size: 14px;
            color: black;
            font-weight: 600;
            &:hover {
                cursor: pointer;
            }
        }

        .more-link {
            &:hover {
                cursor: pointer;
            }
        }

        img {
            width: 100%;
            //max-width: 630px;
            height: 585px;
            object-fit: contain;
            background-color: black;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .comment-section {
        margin-block-start: 8px;
        display: flex;
        align-items: center;

        * {
            width: 100%;
        }

        svg {
            color: rgb(115 115 115);
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 8px;
            padding: 0;
            font-weight: 600;
            color: rgb(0, 149, 246);
            width: auto;
            background-color: transparent;
            font-size: 14px;
            cursor: pointer;
        }

        .textarea-wrapper {
            position: relative;
            display: inline-block;
        }

        .text-area {
            border: 1px solid rgb(203 213 225);
            border-radius: 0.25rem;
            height: 18px;
            // word-spacing: -3px;
            // line-height: 18px;
            // width: 16rem;
            // display: flex;
            border: none; /* Remove border */
            width: 100%;
            resize: none; /* Prevent resizing */
            outline: none; /* Remove outline on focus */
            font-size: 16px; /* Match font size */
            line-height: 18px;
            padding: 0;
            overflow: hidden; /* Hide scrollbar */
        }
    }
}

