.explore-page {
    margin-inline-start: 244px;
    display: flex;
    @include for-wide-layout{
        margin-inline-start: 72px;
    }

    @include for-mobile-layout{
        margin-inline-start: 0px;
        padding: 0px;
    }
    .explore-gallery{
        margin-left: auto;
        margin-right: auto;
        padding: 24px 20px 0px;
        max-width: 935px;

        @include for-mobile-layout{
            margin-inline-start: 0px;
            padding: 0px;
        }

    }
}
