
.home-page-conteiner{
    margin-inline-start: 244px;
    .home-page{
         display: flex;
         align-items: stretch;

        .side-bar {
            width: 319px;
            padding-inline-start: 64px;
        }

        .posts-section {
            margin-block-start: 24px;
            max-width: 630px;
            width: 100%;
            padding: 0px;
        }  
    }
}