.profile-conteiner {
    margin-inline-start: 244px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;

    @include for-wide-layout {
        margin-inline-start: 72px;
    }

    @include for-mobile-layout {
        margin-inline-start: 0px;
        padding: 0px;
    }

    .profile {
        margin-left: auto;
        margin-right: auto;
        padding: 30px 20px 0px;
        max-width: 935px;
        @include for-mobile-layout {
            width: 100%;
        }

        .profile-header {
            display: flex;
            border-bottom: 0.6px solid #e6e6e6;
            width: 100%;
            .pro-pic {
                width: calc(100% / 3);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline-end: 28px;
                margin-block-end: 44px;
                .avatar {
                    width: 150px;
                    height: 150px;
                }
            }

            h1 {
                display: inline-flex;
                align-items: center;
                font-size: 20px;
                height: 48px;
                font-weight: 400;
                margin-block-end: 20px;
            }

            h2 {
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: black;
                margin: 0px;
            }

            h1,
            h2,
            .pro-pic {
                &:hover {
                    cursor: pointer;
                }
            }

            .stats {
                height: 38px;
                display: flex;
                p {
                    display: flex;
                    margin-inline-end: 40px;
                    @include for-narrow-layout {
                        flex-direction: column;
                        align-items: center;
                        margin-inline-end: 20px;
                        //align-content: space-between;
                        //justify-items: space-around;
                    }

                    span {
                        @include for-narrow-layout {
                            line-height: 16px;
                        }
                        &:nth-child(1) {
                            font-weight: 700;
                            margin-inline-end: 4px;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .user-info-profile {
                width: calc(100% - 100% / 3);
                .body {
                    margin-block-end: 44px;
                    font-size: 14px;
                }

                h1 {
                    margin-inline-end: 20px;
                }

                .edit-profile {
                    display: inline-flex;
                    align-items: center;
                    padding: 0 16px;
                    width: auto;
                    height: 36px;
                    font-size: 14px;
                    font-weight: 600;
                    border-radius: 8px;
                    background-color: rgb(239 239 239);

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(219 219 219);
                    }
                }
            }
        }
        .profile-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 52px;
            button {
                background-color: white;
                border: none;
                color: black;
                font-size: 12px;
                font-weight: 500;
                padding: 0px;
                margin: 1px 60px 0px 0px;
                height: 52px;
                cursor: pointer;
                &:hover {
                    background-color: #f9f9f9;
                }
                span {
                    margin-inline-start: 6px;
                }
            }
        }
        .post-gallery {
            padding-block-start: 0px;
        }
    }
}
